body{
font-family: Sans-Serif;
text-indent: 25px;
line-height: 1.5;
}

.topnav{
  display: flex;
  flex-wrap: wrap;
  background-color: #3299E5;
  justify-content: space-around;
}

.topnav a{
  text-decoration: none;
  color: #D6EBFA;
  padding: 16px;
  text-align:center;
}

.topnav a:hover {
  background-color: #D5E7FF;
  color: black;
}


.topnav a.active {
  background-color: #0D75C1;
  color: white;
}

p { margin-top: 0; }

.holdingcontainer{
    width: 100%;
    display: flex;
}

.internalcontainerL{
    flex: 1;
    padding: 5%;
}

.internalcontainerR{
    flex: 1;
    padding: 5%;
}

.columns {
  columns: 250px 3;
  column-rule: 1px dotted #ccc;
  column-gap: 3em;
  padding: 3em;
}
